name: Android CI/CD Pipeline

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
      ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
      ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Set up Ruby & Bundler
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler: '2.4.22'
          bundler-cache: true


      - name: Grant gradlew permission
        run: chmod +x gradlew

      - name: Decode Keystore
        run: |
          mkdir -p app
          echo "${{ secrets.ANDROID_KEYSTORE_BASE64 }}" | base64 --decode > app/release-key.jks

      - name: Build Prod Release via Fastlane
        run: bundle exec fastlane android prod_release

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: prod-release-apk
          path: app/build/outputs/apk/prod/release/*.apk

      - name: Upload AAB Artifact
        uses: actions/upload-artifact@v4
        with:
          name: prod-release-aab
          path: app/build/outputs/bundle/prodRelease/*.aab
