name: Android CI/CD Pipeline

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Give gradlew execute permission
        run: chmod +x gradlew

      - name: Decode Keystore
        run: |
          mkdir -p app
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > app/release-key.jks

      - name: Build Signed APK
        run: ./gradlew assembleProdRelease --stacktrace

      - name: Build Signed AAB
        run: ./gradlew bundleProdRelease --stacktrace

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: prod-release-apk
          path: app/build/outputs/apk/prod/release/*.apk

      - name: Upload AAB Artifact
        uses: actions/upload-artifact@v4
        with:
          name: prod-release-aab
          path: app/build/outputs/bundle/prodRelease/*.aab
